## 1 Objetivo.
  
 - Neste notebook iremos explorar, analisar e preparar os dados para análise, visualização e modelagem.

 - Importando as bibliotecas.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from datetime import date

## 2. Importando e fazendo um tratamento na base de dados

 - Importandos os dados do Studio.

In [2]:
dados = pd.read_excel('studio_estetica-01.xlsx')

In [3]:
dados.head()

,data_atendimento,design_de_sobrancelhas,fat_design,design_coloracao,fat_design_coloracao,design_coloracao_buco,fat_design_coloracao_buco,buco,fat_buco,brown_lamination,...,massagem_relaxante,fat_massagem_relaxante,pacote_massagem_5,fat_pacote_massagem_5,drenagem_linfatica,fat_drenagem_linfatica,striort,fat_striort,qtde_clientes,faturamento
0,Preços,20.0,NaN,30,NaN,30,NaN,10,NaN,100,...,80.0,NaN,250.0,NaN,80.0,NaN,150,NaN,0.0,0.0
1,2018-12-22 00:00:00,0.0,0.0,0,0.0,7,210.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,7.0,270.0
2,2018-01-23 00:00:00,0.0,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
3,2018-12-24 00:00:00,0.0,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
4,2018-12-25 00:00:00,0.0,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0

In [4]:
dados.shape

(743, 33)

- Excluindo as linhas que contém o valor de cada procedimento.

In [5]:
dados.query('data_atendimento =="Preços"')

,data_atendimento,design_de_sobrancelhas,fat_design,design_coloracao,fat_design_coloracao,design_coloracao_buco,fat_design_coloracao_buco,buco,fat_buco,brown_lamination,...,massagem_relaxante,fat_massagem_relaxante,pacote_massagem_5,fat_pacote_massagem_5,drenagem_linfatica,fat_drenagem_linfatica,striort,fat_striort,qtde_clientes,faturamento
0,Preços,20.0,NaN,30,NaN,30,NaN,10,NaN,100,...,80.0,NaN,250.0,NaN,80.0,NaN,150,NaN,0.0,0.0
589,Preços,NaN,30.0,40,NaN,50,NaN,10,NaN,80,...,80.0,NaN,250.0,NaN,80.0,NaN,150,NaN,NaN,NaN

In [6]:
dados = dados.query('data_atendimento !="Preços"')

In [8]:
dados.head()

,data_atendimento,design_de_sobrancelhas,fat_design,design_coloracao,fat_design_coloracao,design_coloracao_buco,fat_design_coloracao_buco,buco,fat_buco,brown_lamination,...,massagem_relaxante,fat_massagem_relaxante,pacote_massagem_5,fat_pacote_massagem_5,drenagem_linfatica,fat_drenagem_linfatica,striort,fat_striort,qtde_clientes,faturamento
1,2018-12-22 00:00:00,0.0,0.0,0,0.0,7,210.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,7.0,270.0
2,2018-01-23 00:00:00,0.0,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
3,2018-12-24 00:00:00,0.0,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
4,2018-12-25 00:00:00,0.0,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
5,2018-12-26 00:00:00,1.0,20.0,0,0.0,1,30.0,1,10.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,4.0,560.0

In [9]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 741 entries, 1 to 742
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   data_atendimento           741 non-null    object
 1   design_de_sobrancelhas     741 non-null    float64
 2   fat_design                 741 non-null    float64
 3   design_coloracao           741 non-null    int64
 4   fat_design_coloracao       741 non-null    float64
 5   design_coloracao_buco      741 non-null    int64
 6   fat_design_coloracao_buco  741 non-null    float64
 7   buco                       741 non-null    int64
 8   fat_buco                   741 non-null    float64
 9   brown_lamination           741 non-null    int64
 10  fat_brown_lamination       741 non-null    float64
 11  micropigmentacao           741 non-null    float64
 12  fat_micropigmentacao       741 non-null    float64
 13  extensao_de_cilios         741 non-null    float64
 14  fat_extensao_de_cilios     741 non-null    float64
 15  lash_lifting               741 non-null    float64
 16  fat_lash_lifting           741 non-null    float64
 17  limpeza_de_pele            741 non-null    float64
 18  fat_limpeza_de_pele        741 non-null    float64
 19  microagulhamento           741 non-null    int64
 20  fat_microagulhamento       741 non-null    float64
 21  peeling_quimico            741 non-null    int64
 22  fat_peeling_quimico        741 non-null    float64
 23  massagem_relaxante         741 non-null    float64
 24  fat_massagem_relaxante     741 non-null    float64
 25  pacote_massagem_5          741 non-null    float64
 26  fat_pacote_massagem_5      741 non-null    float64
 27  drenagem_linfatica         741 non-null    float64
 28  fat_drenagem_linfatica     741 non-null    float64
 29  striort                    741 non-null    int64
 30  fat_striort                741 non-null    float64
 31  qtde_clientes              741 non-null    float64
 32  faturamento                741 non-null    float64
dtypes: float64(25), int64(7), object(1)
memory usage: 196.8+ KB

In [10]:
dados.to_csv('dados_modelagem.csv',index=False)

 - Convertendo a coluna "data_atendimento" para o formato datetime

In [11]:
dados = pd.read_csv('dados_modelagem.csv')

In [12]:
dados.head()

,data_atendimento,design_de_sobrancelhas,fat_design,design_coloracao,fat_design_coloracao,design_coloracao_buco,fat_design_coloracao_buco,buco,fat_buco,brown_lamination,...,massagem_relaxante,fat_massagem_relaxante,pacote_massagem_5,fat_pacote_massagem_5,drenagem_linfatica,fat_drenagem_linfatica,striort,fat_striort,qtde_clientes,faturamento
0,2018-12-22 00:00:00,0.0,0.0,0,0.0,7,210.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,7.0,270.0
1,2018-01-23 00:00:00,0.0,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2,2018-12-24 00:00:00,0.0,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
3,2018-12-25 00:00:00,0.0,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
4,2018-12-26 00:00:00,1.0,20.0,0,0.0,1,30.0,1,10.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,4.0,560.0

In [13]:
dados['data_atendimento'] = dados['data_atendimento'].str.split(" ", n = 3, expand = True)[0]

In [14]:
# reorganizando os dados referentes a data 

def date_to_weekday(date):
    weekday_dict = {0:'segunda', 1:'terca', 2: 'quarta', 3: 'quinta', 4: 'sexta', 5: 'sabado', 6: 'domingo'}
    date_time_obj = datetime.datetime.strptime(date, '%Y-%m-%d')
    return weekday_dict[date_time_obj.weekday()]

date = dados['data_atendimento'].str.split("-", n = 3, expand = True)
dados['dia'] = date[2].astype('int32')
dados['ano'] = date[0].astype('int32')
dados['mes'] = date[1].astype('int32')
dados['dia_da_semana'] = dados['data_atendimento'].apply(date_to_weekday)

In [16]:
dados['data_atendimento'] = pd.to_datetime(dados['data_atendimento'],format=r"%Y/%m/%d")

In [17]:
dados.head()

,data_atendimento,design_de_sobrancelhas,fat_design,design_coloracao,fat_design_coloracao,design_coloracao_buco,fat_design_coloracao_buco,buco,fat_buco,brown_lamination,...,drenagem_linfatica,fat_drenagem_linfatica,striort,fat_striort,qtde_clientes,faturamento,dia,ano,mes,dia_da_semana
0,2018-12-22,0.0,0.0,0,0.0,7,210.0,0,0.0,0,...,0.0,0.0,0,0.0,7.0,270.0,22,2018,12,sabado
1,2018-01-23,0.0,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0.0,0,0.0,0.0,0.0,23,2018,1,terca
2,2018-12-24,0.0,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0.0,0,0.0,0.0,0.0,24,2018,12,segunda
3,2018-12-25,0.0,0.0,0,0.0,0,0.0,0,0.0,0,...,0.0,0.0,0,0.0,0.0,0.0,25,2018,12,terca
4,2018-12-26,1.0,20.0,0,0.0,1,30.0,1,10.0,0,...,0.0,0.0,0,0.0,4.0,560.0,26,2018,12,quarta

In [18]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   data_atendimento           741 non-null    datetime64[ns]
 1   design_de_sobrancelhas     741 non-null    float64
 2   fat_design                 741 non-null    float64
 3   design_coloracao           741 non-null    int64
 4   fat_design_coloracao       741 non-null    float64
 5   design_coloracao_buco      741 non-null    int64
 6   fat_design_coloracao_buco  741 non-null    float64
 7   buco                       741 non-null    int64
 8   fat_buco                   741 non-null    float64
 9   brown_lamination           741 non-null    int64
 10  fat_brown_lamination       741 non-null    float64
 11  micropigmentacao           741 non-null    float64
 12  fat_micropigmentacao       741 non-null    float64
 13  extensao_de_cilios         741 non-null    float64
 14  fat_extensao_de_cilios     741 non-null    float64
 15  lash_lifting               741 non-null    float64
 16  fat_lash_lifting           741 non-null    float64
 17  limpeza_de_pele            741 non-null    float64
 18  fat_limpeza_de_pele        741 non-null    float64
 19  microagulhamento           741 non-null    int64
 20  fat_microagulhamento       741 non-null    float64
 21  peeling_quimico            741 non-null    int64
 22  fat_peeling_quimico        741 non-null    float64
 23  massagem_relaxante         741 non-null    float64
 24  fat_massagem_relaxante     741 non-null    float64
 25  pacote_massagem_5          741 non-null    float64
 26  fat_pacote_massagem_5      741 non-null    float64
 27  drenagem_linfatica         741 non-null    float64
 28  fat_drenagem_linfatica     741 non-null    float64
 29  striort                    741 non-null    int64
 30  fat_striort                741 non-null    float64
 31  qtde_clientes              741 non-null    float64
 32  faturamento                741 non-null    float64
 33  dia                        741 non-null    int32
 34  ano                        741 non-null    int32
 35  mes                        741 non-null    int32
 36  dia_da_semana              741 non-null    object
dtypes: datetime64[ns](1), float64(25), int32(3), int64(7), object(1)
memory usage: 205.6+ KB